.default-layout {
    height: 100%;
    &-header{
        background-color: var(--windi-bg);
        border-color: var(--windi-bc);
        border-bottom-width: 1px;
        height: 60px;
        .logo-link{
            .logo{
                height: 60px;
            }
        }
        .nav-item{
            position: relative;
            box-sizing: content-box;
        }
        .nav-item:after {
            content: "";
            width: 0;
            height: 2px;
            background-color:var(--windi-nav-border);
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            transition: width 0.4s;
        }
        .nav-item:hover::after {
            width: 100%;
        }
    }

    &-voice{
        position: fixed;
        top: 70px;
        right:0px;
        padding: 16px;
        writing-mode: vertical-rl;
        font-family:Damion,cursive,Helvetica Neue For Number,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
        font-size: 16px;
        user-select: text;
        transition: all .3s ease;
        color: var(--windi-text);
        &-text{
            max-height: 300px;
            text-shadow:rgba(0,0,0,.08) 3px 4px 5px
        }
        &-source{
            position: absolute;
            left: -10px;
            bottom: -50%;
            height: max-content;
            text-shadow:rgba(0,0,0,.08) 3px 4px 5px
        }
        &-toggle{
            position: absolute;
            bottom: -20px; 
            right: 20px;
        }
    }
  }